.container {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 80px;
}

.text {
  padding-top: 80px;
  padding-right: 100px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  opacity: 0.7;
}
